
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

p {
  margin: 0;
}

.wrapper {
  display:grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  color:black;
  height:100vh;
  grid-template-areas: 
  "box1 box1 box2 box3 box3"
  "box4 box5 box6 box3 box3"
  "box7 box8 box9 box3 box3";
                     
}
.cube {
  display:flex;
  align-items: center;
  font-size: 1rem;
  flex-direction: column;
  justify-content: center;
}

.cube i {
font-size: 3rem;
margin-bottom: 4px;

}


.box1 {
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 5%;
  background-color:#d4dbe3;
  grid-column: 1/3;
}

.box1-buttons {
  display:flex;

}

button {
width: 33%;
height: 40px;
border: 5px solid #1b1c29;
border-radius: 5px;
background-color:#d4dbe3;
color:#1b1c29;
font-size:1rem;


}

.resume {
  margin-right: 3%;
}


.intro {
  margin-bottom: 20px;
}


.box2  {
  background-color: #1b1c29;
  color: white;
}

.box3 {
  display:flex;
  background-color: #423a3d;
   grid-area: 1 /4/4 / 6;
   background-image: url('images/model2.png');
   background-size:cover;
}